*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  background-image: url(../images/Background/Фон\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.header-menu {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 54px;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 79px;
  padding-left: 79px;
  position: relative;
}
.header-logo {
  font-size: 22px;
  line-height: 22px;
  color: #fff;
  font-weight: bold;
}
.header-logo:hover {
  color: #01813f;
}
.header-elements-form {
  display: flex;
  align-items: flex-end;
}
.header-icon-link {
  margin-right: 25px;
}
.header-elements {
  margin-right: 25px;
}
.header-elements:nth-child(3) {
  margin-right: 50px;
}
.header-icon:hover path {
  fill: #01813f;
}
.header-log-form {
  display: flex;
  align-self: center;
  position: relative;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}
.header-log-form::before {
  content: "";
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  top: -1px;
  left: -30px;
}
.header-menu-sign {
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}
.header-menu-sign:hover {
  color: #01813f;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container {
  width: 445px;
  margin: 0 auto;
}
.signUp-form {
  padding: 31px 60px 38px;
  background: #fff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  margin: auto auto;
}
.sign-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}
.signUp-title {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}
.signUp-title::before {
  content: "";
  background-color: #3cb878;
  width: 18px;
  height: 18px;
  position: absolute;
  left: -60px;
}
.logIn {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}
.logIn:hover {
  text-decoration: underline;
  color: #01813f;
}
.signUp-society {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  gap: 4px;
  position: relative;
  margin-bottom: 31px;
}
.signUp-google {
  display: flex;
  width: 160px;
  padding: 17px;
  background-color: #df4a32;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}
.signUp-FB {
  display: flex;
  width: 160px;
  padding: 17px;
  background-color: #305db8;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}
.signUp-FB:hover {
  background-color: #022263;
}

.signUp-google:hover {
  background-color: #ab1f09;
}
.signUp-FB::before {
  content: "";
  width: 1px;
  height: 28px;
  background-color: #0a162f;
  opacity: 0.1;
  position: absolute;
  left: 45px;
}
.signUp-google::before {
  content: "";
  width: 1px;
  height: 28px;
  background-color: #2b0d09;
  opacity: 0.1;
  position: absolute;
  left: 215px;
}
.svg-FB {
  fill: #fff;
  height: 20px;
}
.svg-google {
  fill: #fff;
  height: 20px;
}
.register-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  margin-bottom: 12px;
  position: relative;
  gap: 2px;
}
.register-divider::before,
.register-divider::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
}
.signUp-list {
  display: flex;
  flex-direction: column;
}
.signUp-data {
  margin-bottom: 15px;
}
.signUp-data:nth-child(5) {
  margin-bottom: 12px;
}
.signUp-data {
  padding: 15px;
  background: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  outline: none;
  color: #434343;
}
.signUp-data:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  transition: 1s;
}
.agree-t-d {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.sighUp-t-d {
  margin-right: 8px;
  display: none;
}
.agree-t-d-check {
  display: flex;
  align-items: center;
}
.agree-t-d-check::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  align-items: center;
  margin-right: 8px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
}
.sighUp-t-d:checked + .agree-t-d-check::before {
  background-image: url(../images/checkbox/checkbox.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.agree-t-d-link {
  padding-left: 5px;
  color: #3cb878;
  cursor: pointer;
}
.agree-t-d-link:hover {
  text-decoration: underline;
}
.signUp-submit {
  padding: 16px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
}