@import "../abstracts/variables";
@import "../abstracts/mixins";

.ourRecentPosts {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 60px;
  &__title {
    @include sectionTitle;
    margin-bottom: 32px;
  }
  &__image {
    width: 160px;
    height: 140px;
    margin-bottom: 11px;
    & > img {
      width: 160px;
      height: 140px;
    }
  }
  &__name {
    @include sectionTitle;
    line-height: 30px;
  }
  &__about {
    color: $postsAboutColor;
    font-size: 11px;
    line-height: 20px;
  }
  &__description {
    @include display(none);
  }
  &__data {
    margin-bottom: 30px;
  }
  &__container > :last-child {
    @include display(none);
  }
}

// Tablet

@media (min-width: $min-media-tablet) {
  .ourRecentPosts {
    padding-left: 80px;
    padding-right: 80px;
    &__description {
      @include display(block);
      margin-top: 13px;
    }
    &__container {
      display: grid;
      & > :last-child {
        @include display(flex);
      }
    }
    &__data {
      @include flex(row, flex-start, flex-start, 20px);
    }
  }
}

// PC

@media (min-width: $min-media-desktop) {
  .ourRecentPosts {
    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 25px;
      row-gap: 32px;
      & > :last-child {
        @include display(flex);
      }
    }
    &__data {
      @include flex(row, flex-start, flex-start, 20px);
    }
    &__description {
      @include display(block);
      margin-top: 13px;
    }
  }
}