body {
    background: #000;
    color: #ffe919;
}
@keyframes scroll {
    from { top: 100%; }
    to { top: -100%; }
}
.titles {
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%; margin-left: -9em;
    font-size: 2em;
    line-height: 1.5;
    text-align: justify;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
    overflow: hidden;
}
.content {
    position: absolute;
    top: 100%;
    animation: scroll 30s linear infinite;
}